{{ 'mini-cart.css' | asset_url | stylesheet_tag }}
{{ 'mini-cart-loader.css' | asset_url | stylesheet_tag }}






<aside class="mini-cart" id="react-root">
</aside>


<button id="open-mini-cart" onclick="openMiniCart()">
  {% render 'icon-cart' %}
</button>
