.custom-slider__wrapper img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.custom-slider__wrapper {
  max-width: 100%;
  position: relative;
  overflow: hidden;

  margin-left: auto;
  margin-right: auto;
}

.custom-slider__inner {
  width: var(--block-width);
  display: flex;
  position: relative;
  left: 0;
  transition: all .2s;
}

.custom-slider__inner .custom-slider__slide {
  width: calc(100% / var(--block-number));
  flex-grow: 1;
  flex-shrink: 0;

  max-height: 100%;

  position: relative;
}

.custom-slider__inner .custom-slider__slide .custom-slider__slide__text {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  max-width: 300px;
  
  color: #fff;
  font-size: 18px;

}

.custom-slider__inner .custom-slider__slide .custom-slider__slide__image
.custom-slide__slide__image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  
  display: block;
  width: 100%;
  height: 98.7%;
  background-color: rgba(0,0,0, 0.40);
}

.custom-slider__wrapper .custom-slider__global-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  width: 400px;
  font-size: 30px;
  /* text-shadow: 1px 0 4px #000; */
  color: #fff;
}

.custom-slider__wrapper .custom-slider__global-text__inner {
  position: relative;
}

.custom-slider__wrapper .custom-slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  


  background: rgba(0,0,0, 0.80);
  font-size: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  
}

.custom-slider__wrapper .custom-slider__arrow  .icon-arrow {
  width: 2.5rem;
}
.custom-slider__wrapper .custom-slider__arrow--left {
  left: 5px;
  transform: translateY(-50%) rotate(180deg);
}

.custom-slider__wrapper .custom-slider__arrow--right {
  right: 5px;
}