.product__image-wrapper {
  max-width: 231px;
  max-height: 320px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__image-wrapper, img {
  min-width: 100%;
  max-width: 100%;
}

.product__image-wrapper img { 
  height: auto !important;
  transition: transform .7s;
}

.product a{
  text-decoration: none;
  color: initial;
}

.product .product__content .product__name {
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.product .product__content .product__price {
  margin-top: 0;
  margin-bottom: 4px;
  color: #888
}

.product {
  --button-background: #333;
  --button-foreground: #fff;
  --button-hover-background: #000;
}

.product:hover .product__image-wrapper img {
  transform: scale3d(1.1, 1.1, 1.1);
}

.product .product__variants {
  display: flex;
  flex-wrap: wrap;
  gap: 5px
}

.product .product__variants .product__variant,
.product .product__add-to-cart {
  background: var(--button-background);
  color: var(--button-foreground);
  font-family: var(--font-body-family);
  cursor: pointer;
}

.product .product__variants .product__variant:hover, 
.product .product__add-to-cart:hover {
  background: var(--button-hover-background);
}


.product .product__variants .product__variant {
  font-size: 14px;
  font-weight: 300;
  padding: 2px 8px;
  border: none;
  outline: none;
  transition: all .2s;
}



.product .product__variants .product__variant:disabled {
  background: #555;
  color: #ccc;
  cursor: not-allowed;
}

.product .product__add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  margin-top: 14px;
  padding: 7px 10px;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1pX;
}

.product .product__add-to-cart svg {
  max-width: 28px;
}

