.container {
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;

  padding: 0 5rem;
}

.page__products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 25px;

  padding: 0;
  list-style-type: none;
}